---
// Importer des composants
import Header from "./composants/Header.astro";
import Footer from "./composants/Footer.astro"; 
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="stylesheet" href="src/styles/about.css">
    <title>Plateforme de Services Éducatifs</title>
</head>
<body>
    <Header />
    <section id="content">
        <div class="left-description">
            <h2>Qui Sommes-Nous ?</h2>
            <p>Notre plateforme facilite la collaboration entre enseignants et étudiants en offrant des outils adaptés à l'apprentissage moderne.</p>
            <h3>Gestion de cours simplifiée :</h3>
            <p>Les enseignants peuvent facilement mettre en ligne leurs cours, ressources pédagogiques et devoirs.</p>
            <h3>Communication fluide :</h3>
            <p>Une messagerie instantanée intégrée permet une interaction rapide et efficace entre étudiants et enseignants.</p>
            <h3>Suivi de progression :</h3>
            <p>Chaque étudiant peut suivre ses progrès tout au long de son parcours éducatif, avec des mises à jour régulières sur ses performances et ses objectifs.</p>
            <p>Ensemble, nous favorisons une expérience d'apprentissage interactive et enrichissante.</p>
        </div>

        <div class="right-section">
            <div class="service">
                <h2>Export/Import de Fichiers</h2>
                <p>Notre plateforme offre une solution efficace pour l’échange de fichiers essentiels entre étudiants et enseignants.</p>
            </div>
            <div class="service">
                <h2>Chat Box</h2>
                <p>La Chat Box intégrée à notre plateforme est un outil puissant qui permet une communication fluide et instantanée entre les étudiants et les enseignants.</p>
            </div>
            <div class="service">
                <h2>Suivi des Progrès</h2>
                <p>Le Suivi des Progrès est une fonctionnalité incontournable de notre plateforme, conçue pour aider les étudiants à visualiser et à évaluer leur parcours académique.</p>
            </div>
        </div>
    </section>
    <Footer />
</body>
</html>