---
// Importer des composants
import Header from './composants/Header.astro'; 
import Footer from './composants/Footer.astro'; 
import Menu from './composants/Menu.astro';
---

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icon.png">
    <title>Login</title>
    <link rel="stylesheet" href="/src/pages/css/login.css">
</head>
<body>
    <Menu />
    <div class="login-box">
        <p>Login</p>
        <form>
          <div class="user-box">
            <input required="" name="" type="text">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input required="" name="" type="password">
            <label>Password</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
          </a>
        </form>
        <p>Do you forget?<a href="password.html" class="a2"> Password ?</a></p>
        <p>Don't have an account? <a href="signup.html" class="a2">Sign up!</a></p>
      </div>
</body>
 <Footer />
</html>