<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/icon.png">
    <title>Messenger</title>
    <link rel="stylesheet" href="src/styles/message.css">
</head>
<body>
    <div class="profile-menu">
        <img src="/photo_profile.jpg" alt="Votre photo de profil" class="profile-icon" id="profileIcon" onclick="toggleMenu()">
    
        <i class="fas fa-comments chat-icon" id="messengerIcon" onclick="openMessenger()"></i>
    
        <div class="dropdown-menu" id="dropdownMenu" style="display: none;">
            <ul>
                <li><a href="profile.html">Accéder au profil</a></li>
                <li><a href="index.html">Se déconnecter</a></li>
                <li><a href="#">Retour</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <aside class="sidebar">
            <h2>Utilisateurs</h2>
            <ul id="userList">
                <li class="user" onclick="openChat('User 1')">
                    <img src="/chat en direct.png" alt="User 1" class="user-pic">
                    <span class="user-name">User 1</span>
                </li>
                <li class="user" onclick="openChat('User 2')">
                    <img src="/Suivi des Progrès.png" alt="User 2" class="user-pic">
                    <span class="user-name">User 2</span>
                </li>
            </ul>
        </aside>
        <div class="chat-container">
            <div class="chat-header" id="chatHeader">Sélectionnez un utilisateur pour discuter</div>
            <div class="messages" id="messagesArea"></div>
            <div class="message-input">
                <input type="text" id="messageInput" placeholder="Écrivez un message..." onkeypress="sendMessage(event)">
                <button class="styled-button" onclick="sendMessage()">Envoyer</button>
                <input type="file" id="fileInput" accept="*/*" style="display: none;" onchange="sendFile()">
                <label for="fileInput" class="send-file styled-button">📎</label>
                <button id="recordButton" class="styled-button" onclick="toggleRecording()">🎤</button>
            </div>
        </div>
    </div>
    <script src="src/scripts/dialogue.js" defer></script>
</body>
</html>