<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icon.png">
    <title>Forget Password</title>
    <link rel="stylesheet" href="src/styles/password.css">
</head>
<body>
    <div class="form-container" id="email-form">
        <div class="form">
            <span class="heading">Forget your password?</span>
            <span class="c1">Enter your email</span>
            <input class="input" type="email" id="email" placeholder="Enter email" required />
            <div class="button-container">
                <div class="send-button" id="send-btn">Send</div>
                <div class="reset-button-container">
                    <div class="reset-button" id="reset-btn" onclick="window.location.href='login.html';">Retour</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-container" id="code-verification-form" style="display:none;">
        <div class="form">
            <span class="heading">Enter verification code</span>
            <input class="input" type="text" id="verification-code" placeholder="Enter code" required />
            <div class="button-container">
                <div class="verify-button" id="verify-btn">Verify Code</div>
            </div>
        </div>
    </div>

    <div class="form-container" id="new-password-form" style="display:none;">
        <div class="form">
            <span class="heading">Enter your new password</span>
            <input class="input" type="password" id="new-password" placeholder="New Password" required />
            <input class="input" type="password" id="confirm-password" placeholder="Confirm Password" required />
            <div class="button-container">
                <input class="login-button" type="submit" value="Confirm" id="confirm-btn">
            </div>
        </div>
    </div>
    <script src="/src/pages/js/password.js" defer></script>
</body>
</html>