---
// Importer des composants
import Header from './composants/Header.astro'; 
import Footer from './composants/Footer.astro'; 
import Menu from './composants/Menu.astro';
---
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/icon.png">
    <title>Signup</title>
</head>
<body>
    <div id="particles-js"></div>
    <script src="/particles.js" defer></script>
    <script src="/app-login.js" defer></script>
     
    <Menu />
    <form class="form" action="http://57.129.134.101/_signup.php" method="POST">
      <label>
          <input class="input" type="text" name="firstname" required="">
          <span>Firstname</span>
      </label>
      <label>
          <input class="input" type="text" name="lastname" required="">
          <span>Lastname</span>
      </label>
      <label>
          <input class="input" type="email" name="email" required="">
          <span>Email</span>
      </label>
      <label>
          <input class="input" type="password" name="password" required="">
          <span>Password</span>
      </label>
      <label>
          <input class="input" type="password" name="confirm_password" required="">
          <span>Confirm Password</span>
      </label>
      <label for="role">Choisir un rôle :
        <select id="role" name="role" class="input" onchange="afficherOptions()" style="border-radius: 10px; width: 50%;color:black; background-color: white; height: 500%; text-align: center; height: min-content;">
          <option value="">Sélectionnez</option>
          <option value="etudiant">Etudiant</option>
          <option value="enseignant">Enseignant</option>
        </select>
      </label>
        <div id="choixElements" style="display: none;">
          <label>Choisissez un élément :</label>
          <div id="checkboxes"><br>
            <label><input type="checkbox" name="elements" value="element1" onchange="verifierSelection(this)">　L1　　</label>
            <label><input type="checkbox" name="elements" value="element2" onchange="verifierSelection(this)">　L2　　</label>
            <label><input type="checkbox" name="elements" value="element3" onchange="verifierSelection(this)">　L3　　</label>
            <label><input type="checkbox" name="elements" value="element4" onchange="verifierSelection(this)">　M1　</label>
            <label><input type="checkbox" name="elements" value="element5" onchange="verifierSelection(this)">　M2　　</label>
          </div>
        </div>
    
        <button class="submit" style="margin-top: 40px;">Create account</button>
        <p class="signin" style="color:rgb(0, 4, 255); ">Already have an acount? <a href="http://57.129.134.101/login" style="color:rgb(255, 0, 0);">login</a></p> 

    </form>
    </div>
    <style>
        
html {
    font-size: 100%; 
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  

  body {
    font-family: Arial, sans-serif;
    line-height: 1;
    color: #333;
    background: radial-gradient(ellipse at bottom, #0b358f 0%, #000000 100%);
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center;
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
  
  
  #particles-js
  {
      height: 120%;
  }
  
  .form {
    background: linear-gradient(to bottom, #0011ff, #06eeff);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #33333300;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    box-shadow: 0 15px 25px #1a1a1a;
    opacity: 90%;
  }
  
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message,
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: #00bfff;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 35px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: transparent;
    color: #fff;
    width: 100%;
    padding: 20px 5px 5px 10px;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.521);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,
.form label .input:valid + span {
  color: #ffffff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}
  
  .input {
    font-size: medium;
  }
  
  .submit {
    background: linear-gradient(to right, #0011ff, #06eeff);
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
  border-radius: 15px;
  transition: all ease ;
}
.submit:hover {
  background: linear-gradient(to left, #0011ff, #06eeff);
  color: #ffffff;
  border-radius: 10px;

}
  
  #niveauEtudiant {
    display: none;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  .footer-distributed{
    background: #ffffff41;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    position: absolute;
    top: 75%;
  }

  
  /* Styles pour les écrans de moins de 550px (mobiles) */
  @media (max-width: 1500px) {
    .form {
      width: 90%;
      padding: 10px;
      top: 55%;
      transform: translate(-50%, -50%);
    }

  
    .title {
      font-size: 20px;
      padding-left: 20px;
    }
    
    .message,
    .signin {
      font-size: 12px;
    }
  
    .signin a {
      font-size: 13px;
    }
    
    .submit {
      font-size: 12px;
      padding: 8px 15px;
    }
    
    .footer-distributed {
      padding: 30px 20px;
      text-align: center;
      position: absolute;
      top: 110%;
    }
  }
    </style>
        <script src="/src/scripts/getrole.js" defer></script>
</body>
</html>